.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.description { 
  
}
.avatar {
width: 300px;
border-radius: 100%;

}
.name {
  text-align: center;
}
.tag{
  text-align: center;
}
.location{
  text-align: center;
}

.stats {
  display: flex;
  list-style: none;
  justify-content: space-around;
}